<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.AcaYear}}<br>
    {{.Fall.Term}}<br>
    {{range .Fall.Courses}}
        {{.Number}}<br>
        {{.Name}}<br>
        {{.Units}}<br>
    {{end}}

    {{.Spring.Term}}<br>
    {{range .Fall.Courses}}
        {{.Number}}<br>
        {{.Name}}<br>
        {{.Units}}<br>
    {{end}}

{{end}}

</body>
</html>