<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DOG PAGE</title>
    </head>
<body>
    <div>
        <h1>This is a dog</h1>
        <img src="dog.jpg">
    </div>
</body>
</html>